<div class="scrollable">
  <div class="scrollable-content">


  <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Fennel Cater</h1>
      </div>
<div class="list-group-item list-group-item-home">
  <div ng-show="firebaseUser">
    <p>Hello, {{ firebaseUser.displayName }}, your id is {{ firebaseUser.uid }} </p>
    <button class="btn btn-primary"  ng-click="auth.$signOut()">Sign Out</button>
  </div>
  <div ng-hide="firebaseUser">
    <p>Welcome, please sign in.</p>
    <button class="btn btn-primary" ng-click="auth.$signInWithPopup('google')">Sign In With Google</button>
  </div>
</div>

<div class="list-group-item list-group-item-home">
    <button class="btn btn-default"  ng-click="backupDatabase()">Back up database</button>
    <button class="btn btn-default"  ng-click="showDownloadUrl()">Show download link</button>
    <div class="alert alert-success alert-dismissable fade in" ng-show="savedBackup">
<button class="close" data-dismiss="alert" aria-label="close" ng-click="savedBackup=''">&times;</button>
<strong>Success!</strong> Backed up database on {{ savedBackup }}</div>
    <div class="alert alert-dismissable fade in alert-success" ng-show="backupUrl">Download the backup <a ng-href="{{ backupUrl }}">here</a>
<button class="close" data-dismiss="alert" aria-label="close" ng-click="backupUrl=''">&times;</button>
</div>
</div>

  </div>
</div>
</div>


