<div class="scrollable">
  <div class="scrollable-content">


  <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Fennel Cater</h1>
      </div>
<div class="list-group-item list-group-item-home">
  <div ng-show="firebaseUser">
    <p>Hello, {{ firebaseUser.displayName }}</p>
    <button class="btn btn-primary"  ng-click="auth.$signOut()">Sign Out</button>
  </div>
  <div ng-hide="firebaseUser">
    <p>Welcome, please sign in.</p>
    <button class="btn btn-primary" ng-click="auth.$signInWithPopup('google')">Sign In With Google</button>
  </div>
</div>

<div class="list-group-item list-group-item-home" ng-show="firebaseUser && lastModified.$resolved">
    Last database backup is on <a ng-href="{{lastModified.url}}">{{ lastModified.time | date:'yyyy-MM-dd HH:mm:ss' }}</a>.<br>
    <button class="btn btn-success"  ng-click="backupDatabase()">Back up database</button>
    <div class="alert alert-success alert-dismissable fade in" ng-show="savedBackup">
       <button class="close" data-dismiss="alert" aria-label="close" ng-click="savedBackup=''">&times;</button>
       <strong>Success!</strong> Backed up database on {{ savedBackup }}
    </div>
</div>

<div class="list-group-item list-group-item-home" ng-show="firebaseUser && backups.$resolved">
Download the following backups for recovery:
<div class="list-group">
    <div ng-repeat="backup in backups | orderBy:'time':true"  | limitTo:15>
          <a class="list-group-item" ng-href="{{backup.url}}">{{ backup.time | date:'yyyy-MM-dd HH:mm:ss' }}</a>
    </div>
    <div class="list-group-item" ng-if="backups.length == 0">
      <strong>No backups found...</strong>
    </div>
<div>

<button type="file" class="btn btn-danger" ngf-select="upload($file)" ngf-pattern="'.json,application/json'">Overwrite database with backup</button>
</div>

  </div>
</div>
</div>


