<div class="scrollable" ng-controller="SampleCtrl">
  <div class="scrollable-content">


  <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Fennel Cater</h1>
      </div>
<div class="list-group-item list-group-item-home">
  <div ng-show="firebaseUser">
    <p>Hello, {{ firebaseUser.displayName }}, your id is {{ firebaseUser.uid }} </p>
    <button ng-click="auth.$signOut()">Sign Out</button>
  </div>
  <div ng-hide="firebaseUser">
    <p>Welcome, please sign in.</p>
    <button ng-click="auth.$signInWithPopup('google')">Sign In With Google</button>
  </div>
</div>
  </div>
</div>
</div>
