<div class="scrollable">
  <script type="text/ng-template" id="showIngredientList.html">
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Ingredient list</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="list-group">
          <strong>Cheap ingredients:</strong>
          <div ng-repeat="ingredient in ingredientList.c.ingredients">
            <div class="list-group-item">
                {{ ingredient.name + '($' + ingredient.price + '/' + ingredient.quantity + v.unit + '@' + ingredient.store }})
            </div>
          </div>
          <strong>Expensive ingredients:</strong>
          <div ng-repeat="ingredient in ingredientList.e.ingredients">
            <div class="list-group-item">
                {{ ingredient.name + '($' + ingredient.price + '/' + ingredient.quantity + v.unit + '@' + ingredient.store }})
            </div>
          </div>
        <div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-success" type="button" ng-click="dismissDelete()">Close</button>
      </div>
  </script>

  <script type="text/ng-template" id="deleteRecipe.html">
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Warning!</h3>
      </div>
      <div class="modal-body" id="modal-body">
          Are you sure to delete recipe <b>{{ deleteRecipe.name  }}</b>?
      </div>
      <div class="modal-footer">
          <button class="btn btn-danger" type="button" ng-click="dismissDelete(deleteRecipe)">Delete</button>
          <button class="btn btn-success" type="button" ng-click="dismissDelete()">Cancel</button>
      </div>
  </script>

  <script type="text/ng-template" id="commonRecipe.html">
    <div class="form-group has-success has-feedback">
      <input required class="form-control"  type="text"
      ng-model="recipe.name" ng-show="createNewRecipe"
      placeholder="Recipe name"/>
      <input required class="form-control"  type="text"
      ng-model="recipe.category" ng-show="createNewRecipe"
      placeholder="Recipe category"/>
      <input required class="form-control"  type="number"
      ng-model="recipe.person" ng-show="createNewRecipe"
      placeholder="Serving size (persons)"/>

      <a href="#" ng-show="!createNewRecipe" editable-text="recipe.name" onbeforesave="required($data)" e-label="Name">Recipe: {{ recipe.name }}</a><br>
      <a href="#" ng-show="!createNewRecipe" editable-text="recipe.category" onbeforesave="required($data)" e-label="Category">Category: {{ recipe.category }}</a><br>
      <a href="#" ng-show="!createNewRecipe" editable-number="recipe.person" onbeforesave="required($data)" e-label="Serving size">Serving size: {{ recipe.person }} persons</a>

      <table class="table table-condensed">
         <tr>
           <th>Ingredient</td>
           <th>Quantity</td>
           <th>Edit</td>
         </tr>
         <tr ng-repeat="ingredient in recipe.ingredients">
           <td>
             <!-- editable group (select-remote) -->
             <span onbeforesave="required($data)" editable-select="ingredient.key" e-name="ingredient"  e-form="rowform"
             e-ng-options="ing.key as (ing.name + ' (' + ing.unit + ')') for ing in availableIngredients | orderBy:'name'">
               {{ showIngredient(ingredient) || 'empty' }}
             </span>
           </td>
           <td>
           <!-- editable username (text with validation) -->
           <span onbeforesave="required($data)" editable-number="ingredient.quantity" e-step="0.01" e-name="name" e-form="rowform">
           {{ ingredient.quantity || 'empty' }}
           </span>
           </td>
           <td style="white-space: nowrap">
             <!-- form -->
             <form editable-form name="rowform" onbeforesave="required($data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == ingredient">
               <button type="submit" ng-disabled="rowform.$waiting && ! ( ingredient.key && ingredient.quantity)" class="btn btn-primary">
                 <span class="glyphicon glyphicon-ok">
               </button>
               <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                 <span class="glyphicon glyphicon-remove">
               </button>
             </form>
             <div class="buttons" ng-show="!rowform.$visible">
               <button type="button" class="btn btn-primary" ng-click="rowform.$show()"><span class="glyphicon glyphicon-pencil"></span></button>
               <button type="button" class="btn btn-danger" ng-click="removeIngredient(recipe, $index)"><span class="glyphicon glyphicon-trash"></span></button>
             </div>
           </td>
         </tr>
       </table>
       <button type="button" class="btn btn-success" ng-click="addIngredient(recipe)">Add ingredient</button>

       <hr>
       <strong>Other ingredients:</strong>
      <textarea rows="5"
        ng-model="recipe.otherIngredients"
        class="form-control"
        placeholder="Other ingredients">
      </textarea>
      <hr>
      <strong>Instructions:</strong>
      <textarea rows="5"
        ng-model="recipe.instruction"
        class="form-control"
        placeholder="Instruction">
      </textarea>
    </div>

  </script>

  <script type="text/ng-template" id="newRecipe.html">
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title-new-recipe">New Recipe</h3>
      </div>
      <div class="modal-body" id="modal-body-new-recipe">

      <div id="tpl-content-add" ng-include src="'commonRecipe.html'"></div>

      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="dismissNewRecipe(recipe)" ng-disabled="! ( recipe.name && recipe.person && recipe.category && recipe.ingredients.length )">Add</button>
          <button class="btn btn-warning" type="button" ng-click="dismissNewRecipe()">Cancel</button>
      </div>
  </script>

  <div class="scrollable-content">
    <div class="section">
      <legend>{{recipes.length}} Recipes</legend>
      <div >
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search (name, category)" ng-model="search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search=''">Clear</button>
            </span>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group">
              <button role="button" class="btn btn-info" type="button" ng-click="order='name';nameReverse=!nameReverse;reverse=nameReverse">Sort by name</button>
            </div>
            <div class="btn-group">
              <button role="button" class="btn btn-info" type="button" ng-click="order='category';categoryReverse=!categoryReverse;reverse=categoryReverse">Sort by category</button>
            </div>
          </div>
      </div>
      <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default"
            heading="{{recipe.name}} - {{ recipe.category || 'uncategorized' }}"
            ng-repeat="recipe in recipes | filter:search | orderBy:order:reverse">
           <div id="tpl-content" ng-include src="'commonRecipe.html'"></div>
           <div>
               <div ng-show="recipe == ingredientList.recipe">
                 <strong>Prices: </strong><a ng-click="openIngredientList()">{{ recipePrices || 'Not calculated yet'}}</a>
               </div>
               <div ng-show="recipe != ingredientList.recipe">
                 <strong>Prices: </strong>Not calculated yet
               </div>
           </div>
           <hr>
           <div class="alert alert-success alert-dismissable fade in" ng-show="lastSavedRecipe.recipe == recipe">
             <button class="close" data-dismiss="alert" aria-label="close" ng-click="lastSavedRecipe.recipe=null">&times;</button>
             <strong>Success!</strong> Saved recipe {{ recipe.name }} on {{ lastSavedRecipe.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}
           </div>
           <div class="button-group">
               <button class="btn btn-success pull-left" type="button" ng-click="showPrices(recipe)">Calculate prices</button>
               <span class="pull-right">
               <button class="btn btn-primary" type="button" ng-click="saveRecipe(recipe)" ng-disabled="! ( recipe.name && recipe.person && recipe.category && recipe.ingredients.length )">Save</button>
               <button class="btn btn-danger" type="button" ng-click="openDeleteRecipe(recipe)">Delete</button>
             </span>
           </div>
        </div>
      </uib-accordion>
      </div>
    </div>
  </div>
<style>
button.fixed { position: fixed; bottom: 20px; right: 20px; }
</style>

<button type="button" class="fixed btn btn-default" aria-label="Left Align" ng-click="openNewRecipe()">
<span class="glyphicon glyphicon-plus"></span>
</button>
</div>
